Repository PowerDNS-Admin/PowerDNS-Admin, pull requests merged in 2022-05, with the labels that each got.

#1134 Fix API Account deletion
  powerdnsadmin/models/domain.py
  powerdnsadmin/routes/api.py
Labels: bug, api

#1188 Small bugfixes
  migrations/versions/31a4ed468b18_remove_all_settings_in_the_db.py
  powerdnsadmin/lib/certutil.py
  powerdnsadmin/models/user.py
  powerdnsadmin/templates/domain.html
  requirements.txt
Labels: reviewed

#1172 Added health check
  powerdnsadmin/routes/api.py
  powerdnsadmin/swagger-spec.yaml
Labels: enhancement, api, accepted, changes requested, reviewed

#1209 fix: Active directory filter is broken
  powerdnsadmin/models/user.py
Labels: bug, authentication
