Repository PowerDNS-Admin/PowerDNS-Admin, pull requests merged in 2023-11, with the labels that each got.

#1703 Update static fonts to use relative paths instead of static
  powerdnsadmin/static/assets/css/roboto_mono.css
  powerdnsadmin/static/assets/css/source_sans_pro.css
Labels: bug / broken-feature, skill / html, mod / accepted, mod / reviewed

#1658 Fixes local user setup to perform case-insensitive verification of existing usernames / emails
  powerdnsadmin/models/user.py
  powerdnsadmin/routes/index.py
Labels: bug / broken-feature, mod / accepted, mod / reviewed

#1705 Update index router to replace the use of the deprecated `before_app_first_request` event with `record_once`
  powerdnsadmin/routes/index.py
Labels: mod / accepted, mod / reviewed, feature / update

#1706 Updated zone type comparison logic in domain router to be case-insensitive
  powerdnsadmin/routes/domain.py
Labels: bug / broken-feature, mod / accepted, mod / reviewed

#1707 Fix zone name encoding for UI XHR requests as well as requests to the PDNS API
  powerdnsadmin/models/domain.py
  powerdnsadmin/static/custom/js/custom.js
  powerdnsadmin/templates/dashboard.html
Labels: bug / broken-feature, mod / accepted, mod / reviewed

#1641 Provide Catalog Zone Support
  migrations/versions/123649227370_add_catalog_to_domains.py
  powerdnsadmin/models/domain.py
  powerdnsadmin/routes/domain.py
  powerdnsadmin/templates/domain.html
  powerdnsadmin/templates/domain_add.html
  powerdnsadmin/templates/domain_setting.html
Labels: feature / request, mod / reviewing
