Repository PowerDNS-Admin/PowerDNS-Admin, pull requests merged in 2023-01, with the labels that each got.

#1343 Bump alpine to 3.17 in dockerfile
  docker/Dockerfile
Labels: skill / docker, mod / reviewed, feature / dependency

#1354 Support pdns4.7
  migrations/versions/f41520e41cee_update_domain_type_length.py
  powerdnsadmin/models/domain.py
Labels: feature / request, mod / accepted

#1359 Fixing Wrapping in History Details Modal in Dashboard
  powerdnsadmin/templates/applied_change_macro.html
Labels: bug / broken-feature

#1357 fix: Potential fix for a regex bug
  powerdnsadmin/routes/index.py
Labels: mod / reviewing, mod / changes-requested
