Repository PowerDNS-Admin/PowerDNS-Admin, pull requests merged in 2023-12, with the labels that each got.

#1726 Added LDAP search filter cleansing mechanism to properly escape special characters
  powerdnsadmin/models/user.py
Labels: bug / broken-feature

#1642 Merge zone editor record action controls into single column
  powerdnsadmin/templates/domain.html
Labels: skill / javascript, skill / html, mod / reviewing, feature / update

#1727 Fixing new LDAP search filter cleansing mechanism to only target user DN value returned on AD connections
  powerdnsadmin/models/user.py
Labels: bug / broken-feature, mod / accepted, mod / reviewed

#1728 Added support for application to run in sub-paths while not breaking the Docker health check
  docker/Dockerfile
Labels: bug / broken-feature, mod / accepted, mod / reviewed
